<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <link rel="stylesheet" type="text/css" href="user.css" media=”screen” />-->
<!--</head>-->
<!--<body>-->
<!--<div class = "Edit"  style="margin-left: 105px">-->
<!--<h2>Edit User</h2>-->
<!--</div>-->

<%#= form_with model: @user, url: edit_home_path , method: :post do |f| %>

<!--  <input name="id" type="hidden" value="<%#= params[:id] %>">-->

<!--  <div class="row">-->
<!--    <div class="column"  style="margin-left: 105px">-->
<!--      <h2>Personal Information</h2>-->

<!--      <div class="field form-group">-->
<!--        <%#= f.label :first_name %><br />-->
        <%#= f.text_field :first_name, autofocus: true %>
<!--      </div>-->

<!--      <div class="field form-group">-->
<!--        <%#= f.label :last_name %><br />-->
        <%#= f.text_field :last_name, autofocus: true %>
<!--      </div>-->

<!--      <div class="field form-group">-->
<!--        <%#= f.label :email %><br />-->
        <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--      </div>-->

<!--      <div class="field form-group">-->
        <%#= f.label :password %>
        <%# if @minimum_password_length %>
<!--          <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--        <%# end %><br />-->
        <%#= f.password_field :password, autocomplete: "new-password" %>
<!--      </div>-->

<!--      <div class="field form-group">-->
<!--        <%#= f.label :password_confirmation %><br />-->
        <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>
<!--      </div>-->


<!--      <div class="field form-group">-->
<!--        <%#= f.label :phone %><br />-->
        <%#= f.text_field :phone, autofocus: true %>
<!--      </div>-->

<!--    </div>-->

<!--    <div class="column" style="margin-left: 700px; position: absolute"  >-->
<!--      <h2>Professional Information</h2>-->
<!--      <div class="field form-group">-->
<!--        <%#= f.label :role %><br />-->
        <%#=  f.select :role, ['Employee', 'Manager'],  autofocus: true %>
<!--      </div>-->

<!--      <div class="field form-group">-->
<!--        <%#= f.label :joining_date %><br/>-->
        <%#= f.date_select :joining_date, { :start_year => 1985, :end_year => 2045 }, :class => 'date-select' %>
<!--      </div>-->


<!--      <div class="field form-group">-->

<!--        <%#= f.label :assigned_manager %><br />-->
        <%#= f.collection_select :assigned_manager, @managers, :id ,:first_name,  autofocus: true %>

<!--      </div>-->

<!--      <div class="actions">-->
        <%#= f.submit "Update" ,  class: "btn btn-primary"%>
<!--      </div>-->

      <%#= link_to 'Back', root_path ,  class: "btn btn-secondary" %>
<%# end %>



<!--</div>-->
<!--</div>-->
<!--</body>-->




<!--<style>-->
<!--    .footer-clean{-->
<!--        position: absolute !important;-->
<!--    }-->
<!--</style>-->

















<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--  <link rel="stylesheet" type="text/css" href="user.css" media=”screen” />-->
<!--</head>-->
<!--<body>-->
<!--<div style="padding-left: 250px">-->
<!--  <h2>Edit User</h2>-->
<!--</div>-->

<%#= form_with model: @user, url: edit_home_path , method: :post do |f| %>
<!--  <input name="id" type="hidden" value="<%#= params[:id] %>">-->
<!--  <br>-->
<!--  <br>-->
<!--  <div style="padding-left: 250px">-->
<!--    <h2>Personal Information</h2>-->
<!--      <div class="field form-group">-->
<!--        <%#= f.label :first_name %><br />-->
<!--        <%#= f.text_field :first_name, autofocus: true %></div>-->

<!--      <div class="field form-group">-->
<!--        <%#= f.label :last_name %><br />-->
        <%#= f.text_field :last_name, autofocus: true %>
<!--      </div>-->

<!--      <div class="field form-group">-->
<!--        <%#= f.label :email %><br />-->
        <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--      </div>-->

<!--      <div class="field form-group">-->
        <%#= f.label :password %>
        <%# if @minimum_password_length %>
<!--          <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--        <%# end %><br />-->
        <%#= f.password_field :password, autocomplete: "new-password" %>
<!--      </div>-->

<!--      <div class="field form-group">-->
<!--        <%#= f.label :password_confirmation %><br />-->
        <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>
<!--      </div>-->
<!--      <div class="field form-group">-->
<!--        <%#= f.label :phone %><br />-->
        <%#= f.text_field :phone, autofocus: true %>
<!--      </div>-->
<!--  </div>-->
<!--  <div style="text-align: center; margin-top: -370px; padding-right: 0">-->
<!--    <h2>Professional Information</h2>-->
<!--      <div class="field form-group">-->
<!--        <%#= f.label :role %><br />-->
        <%#=  f.select :role,  options_for_select([["Employee", 1],["Manager" , 2]],['Employee', 1]),autofocus: true %>
<!--      </div>-->

<!--      <div class="field form-group">-->
<!--        <%#= f.label :joining_date %><br/>-->
        <%#= f.date_select :joining_date, { :start_year => 1985, :end_year => 2045 }, :class => 'date-select' %>
<!--      </div>-->


<!--      <div class="field form-group">-->
<!--        <%#= f.label :assigned_manager %><br />-->
        <%#= f.collection_select :assigned_manager, @managers, :id ,:first_name, :include_blank => true, autofocus: true %>
<!--      </div>-->

<!--      <div class="actions">-->
        <%#= f.submit "Update" ,  class: "btn btn-primary"%>
<!--      </div>-->
      <%#= link_to 'Back', root_path ,  class: "btn btn-secondary" %>
<!--  </div>-->
<%# end %>


<!--</body>-->
<!--</html>-->



<!--<style>-->
<!--    .footer-clean{-->
<!--       position: absolute !important;-->
<!--    }-->
<!--</style>-->



<div class ="container">
<div class="card">
  <div class="card-header">

    <div style="padding-left: 250px">
      <h2>Edit User</h2>
    </div>


  </div>
  <div class="card-body">

    <%= form_with model: @user, url: edit_home_path , method: :post do |f| %>
      <input name="id" type="hidden" value="<%= params[:id] %>">
      <br>
      <br>


      <div style="padding-left: 250px">
        <h2>Personal Information</h2>

        <div class="field form-group">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true %>
        </div>

        <div class="field form-group">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true %>
        </div>

        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>


        <div class="field form-group">
          <%= f.label :phone %><br />
          <%= f.text_field :phone, autofocus: true %>
        </div>


        <div class="card-body">

          <div style="text-align: center; margin-top: -385px; padding-right: 0">
            <h2>Professional Information</h2>
            <div class="field form-group">
              <%= f.label :role %><br />
              <%=  f.select :role,options_for_select([["Employee", 1],["Manager" , 2]],['Employee', 1]), autofocus: true %>
            </div>

            <div class="field form-group">
              <%= f.label :joining_date %><br/>
              <%= f.date_select :joining_date, { :start_year => 1985, :end_year => 2045 }, :class => 'date-select' %>
            </div>


            <div class="field form-group">
              <%= f.label :assigned_manager %><br />
              <%= f.collection_select :assigned_manager, @managers, :id ,:first_name, :include_blank => true, autofocus: true %>
            </div>

            <div class="actions">
              <%= f.submit "Update",  class: "btn btn-primary" %>
            </div>
            <br>
    <% end %>


    </div>
    </div>
    </div>
  </div>
</div>
</div>
</div>






















































