
<!--<div class = "Login" style="margin-left: 600px; margin-top: 100px" >-->
<!--  <h2>Login</h2>-->
<!--</div>-->

<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<!--  <div class="field form-group" style="margin-left: 600px">-->
<!--    <%#= f.label :email %><br />-->
    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>
<!--  </div>-->

<!--  <div class="field form-group" style="margin-left: 600px" >-->
<!--    <%#= f.label :password %><br />-->
    <%#= f.password_field :password, autocomplete: "current-password" %>
<!--  </div>-->

  <%# if devise_mapping.rememberable? %>
<!--    <div class="field form-group" style="margin-left: 600px">-->
      <%#= f.check_box :remember_me %>
      <%#= f.label :remember_me %>
<!--    </div>-->
  <%# end %>

<!--  <div class="actions" style="margin-left: 600px">-->
    <%#= f.submit "Log in" %>
<!--  </div>-->
<%# end %>

<!--<div class="actions" style="margin-left: 600px">-->
<%#- if devise_mapping.registerable? && controller_name != 'registrations' %>
<!--  <%#= link_to "Sign up", new_registration_path(resource_name) %><br />-->
<%# end %>

<%#- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<!--  <%#= link_to "Forgot your password?", new_password_path(resource_name) %><br />-->
<%# end %>
<!--</div>-->


<!--<style>-->
<!--    .footer-clean{-->
<!--        position: absolute !important;-->
<!--    }-->
<!--</style>-->
<div class = "container">
<div class="card">
  <div class="card-header">
    <div class = "Login" style="margin-left: 500px; margin-top: 50px" >
      <h2>Login</h2>
    </div>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field form-group" style="margin-left: 500px">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field form-group" style="margin-left: 500px" >
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-group" style="margin-left: 500px">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions" style="margin-left: 500px">
        <%= f.submit "Log in" ,class: "btn btn-primary" %>
      </div>

      <div class="actions" style="margin-left: 500px">
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up", new_registration_path(resource_name) %><br />
      <% end %>

     <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
     <% end %>
      </div>

      </div>
    <% end %>
    <%#= render "devise/shared/links" %>
  </div>
</div>
</div>
